*{
    padding:0;
    margin:0;
    user-select: none;
    -webkit-user-drag: none;
}
html{
  display: flex;
  align-items: center;
}
body{
  display: block;
  height: max-content;
  width: 100vw;
  overflow: hidden;
  background-color: #00b4d8;
}
#game{
    background-image: url(./balls/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 49vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#playground{
    position: absolute;
    border: 1.2vw solid #62a4f8;
    height: 37vw;
    width: 50vw;
    background-image: url(./balls/net.png);
    backdrop-filter: brightness(0.6);
    border-radius: 1vw;
    padding: 0.5vw;
    top: 5vw;
    left: 22vw;
    z-index: 2;
    display: none;
}
#play{
  position: absolute;
  height: max-content;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
#play img{
  width: 10vw;
}
#play text{
  position: relative;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 900;
  font-size: 3.5vw;
  -webkit-text-stroke: 2px rgba(255,255,255,0.6);
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgb(255 255 255 / 10%);
}
.ball{
    height: 6vw;
    display: inline-block;
    width: 6vw;
    background-size: cover;
    backdrop-filter: brightness(0.8);
    border-radius: 50%;
}
.arrow{
    width:4.5vw;
}
#pad{
    position: absolute;
    left: 5vw;
    display: block;
    padding: 1vw;
    background: #dcdcdc69;
    box-shadow: inset 0px 0px 20px #fefefe;
    border-radius: 2vw;
    transform: scale(0.7);
    z-index: 2;
    display: none;
}
#pad img{

}
@keyframes do{
    0%{transform: scale(1);filter: brightness(1);}
    50%{transform: scale(1.08);filter: brightness(3.5);}
    100%{transform: scale(1);filter: brightness(1);}
}
.a{position: absolute;left:0.5vw;}
.b{position: absolute;left:6.8vw;}
.c{position: absolute;left:13.1vw;}
.d{position: absolute;left:19.4vw;}
.e{position: absolute;left:25.7vw;}
.f{position: absolute;left:32vw;}
.g{position: absolute;left:38.3vw;}
.h{position: absolute;left:44.6vw;}

.a1{position: absolute;left:0.5vw;top:6.8vw}
.b1{position: absolute;left:6.8vw;top:6.8vw}
.c1{position: absolute;left:13.1vw;top:6.8vw}
.d1{position: absolute;left:19.4vw;top:6.8vw}
.e1{position: absolute;left:25.7vw;top:6.8vw}
.f1{position: absolute;left:32vw;top:6.8vw}
.g1{position: absolute;left:38.3vw;top:6.8vw}
.h1{position: absolute;left:44.6vw;top:6.8vw}

.a2{position: absolute;left:0.5vw;top:13.1vw}
.b2{position: absolute;left:6.8vw;top:13.1vw}
.c2{position: absolute;left:13.1vw;top:13.1vw}
.d2{position: absolute;left:19.4vw;top:13.1vw}
.e2{position: absolute;left:25.7vw;top:13.1vw}
.f2{position: absolute;left:32vw;top:13.1vw}
.g2{position: absolute;left:38.3vw;top:13.1vw}
.h2{position: absolute;left:44.6vw;top:13.1vw}

.a3{position: absolute;left:0.5vw;top:19.3vw}
.b3{position: absolute;left:6.8vw;top:19.3vw}
.c3{position: absolute;left:13.1vw;top:19.3vw}
.d3{position: absolute;left:19.4vw;top:19.3vw}
.e3{position: absolute;left:25.7vw;top:19.3vw}
.f3{position: absolute;left:32vw;top:19.3vw}
.g3{position: absolute;left:38.3vw;top:19.3vw}
.h3{position: absolute;left:44.6vw;top:19.3vw}

.a4{position: absolute;left:0.5vw;top:25.5vw}
.b4{position: absolute;left:6.8vw;top:25.5vw}
.c4{position: absolute;left:13.1vw;top:25.5vw}
.d4{position: absolute;left:19.4vw;top:25.5vw}
.e4{position: absolute;left:25.7vw;top:25.5vw}
.f4{position: absolute;left:32vw;top:25.5vw}
.g4{position: absolute;left:38.3vw;top:25.5vw}
.h4{position: absolute;left:44.6vw;top:25.5vw}

.a5{position: absolute;left:0.5vw;top:31.8vw}
.b5{position: absolute;left:6.8vw;top:31.8vw}
.c5{position: absolute;left:13.1vw;top:31.8vw}
.d5{position: absolute;left:19.4vw;top:31.8vw}
.e5{position: absolute;left:25.7vw;top:31.8vw}
.f5{position: absolute;left:32vw;top:31.8vw}
.g5{position: absolute;left:38.3vw;top:31.8vw}
.h5{position: absolute;left:44.6vw;top:31.8vw}


.container {
    position: relative;
    width:100%;
    height: 100%;
    top:0; 
  }
  
  .text {
    position: relative;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 900;
    font-size: 5.5vw;
    -webkit-text-stroke: 2px rgba(255,255,255,0.6);
    -webkit-text-fill-color: transparent;
    top: -9vw;
    left: 27.5vw;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px rgb(255 255 255 / 10%);
}
  .bubbles {
    position: absolute;
    opacity: 0.9;
    z-index: 1;
    top: 0;
    height: 100vh;
    width: 100vw;
}

  
  .bubble1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow: inset -7px -7px 15px rgb(255 255 255 / 30%), 5px 5px 3px rgb(0 0 0 / 7%);
    overflow: hidden;
    top: 80vw;
    left: 8vw;
    animation: up 7s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
    
  }
  .bubble2:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    border-radius:50%;
    width:12.5px;
    height:25px;
    left:30vw;
    top:1vw;
    transform: rotate(25deg);
    filter: blur(8px);
  } 

  
  .bubble2 {
    position: absolute; 
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:30vw;
    top: 70vw;
    animation: up 12s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble2:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    border-radius:50%;
    width:12.5px;
    height:25px;
    left:30vw;
    top:1vw;
    transform: rotate(25deg);
    filter: blur(8px);
  }
  
  .bubble3 {
    position: absolute; 
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:80vw;
    top:70vw;
    animation: up 7s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble3:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius:50%;
    width:20px;
    height:40px;
    left:80vw;
    top:1vw;
    transform: rotate(25deg);
    filter: blur(7px);
  }
  
  .bubble4 {
    position: absolute; 
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -5px -5px 8px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    animation: up 9s linear infinite;
    left:70vw;
    top: 90vw;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble4:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    border-radius:50%;
    width:10px;
    height:8px;
    left:70vw;
    top:1vw;
    transform: rotate(25deg);
    filter: blur(5px);
  }
  
  .bubble5 {
    position: absolute; 
    width: 90px;
    height: 90px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:10vw;
    top:60vw;
    animation: up 14s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble5:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius:50%;
    width:22px;
    height:48px;
    left:10vw;
    top:0vw;
    transform: rotate(25deg);
    filter: blur(7px);
  }
  
  @keyframes up {
    100% { transform:  translateY(-160vh);} 
  }
  
  .bubble6 {
    position: absolute; 
    width: 70px;
    height: 70px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:5vw;
    top:700px;
    animation: up 20s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }

  .bubble6:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius:50%;
    width:22px;
    height:48px;
    left:6vw;
    top:12px;
    transform: rotate(25deg);
    filter: blur(7px);
  }
  
  .bubble7 {
    position: absolute; 
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:80vw;
    top: 70vw;
    animation: up 5s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble7:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    border-radius:50%;
    width:12.5px;
    height:25px;
    left:80vw;
    top:1vw;
    transform: rotate(25deg);
    filter: blur(8px);
  }
  
  .bubble8 {
    position: absolute; 
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:15vw;
    top:90vw;
    animation: up 7s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble8:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius:50%;
    width:20px;
    height:40px;
    left:15vw;
    top:0vw;
    transform: rotate(25deg);
    filter: blur(7px);
  }
  
  .bubble9 {
    position: absolute; 
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -5px -5px 8px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    animation: up 18s linear infinite;
    left:15vw;
    top: 70vw;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble9:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    border-radius:50%;
    width:10px;
    height:8px;
    left:15vw;
    top:0vw;
    transform: rotate(25deg);
    filter: blur(5px);
  }
  
  .bubble10 {
    position: absolute; 
    width: 90px;
    height: 90px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow:  inset -7px -7px 15px rgba(255, 255, 255, 0.3), 5px 5px 3px rgba(0,0,0,0.07);
    overflow:hidden;
    left:38vw;
    top:90vw;
    animation: up 11s linear infinite;
    background-image: url(./balls/bubble.png);
    background-size: cover;
  }
  
  .bubble10:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius:50%;
    width:22px;
    height:48px;
    left:38vw;
    top:0vw;
    transform: rotate(25deg);
    filter: blur(7px);
  }

#anchor{
  display:none;
  position: absolute;
  left: -3vw;
  top: 8.7vw;
  width:25vw;
  animation: 1000ms anchordown linear infinite;
}


  @keyframes water {
    0%{    transform: translateX(0px);}
    30%{    transform: translateX(0.5vw) translateY(0.3vw);}
    60%{    transform: translateX(0px) translateY(0px);}
    80%{    transform: translateX(-0.5vw) translateY(-0.3vw);}
    100%{    transform: translateX(0px) translateY(0px);}
  }
  @keyframes scaledown{
    100%{
      scale: 0;
    }
  }
  @keyframes anchordown {
    0%{left: -23vw;top: -32vw;}
    100%{left: -3vw;top: 8.7vw;}
  }
  @keyframes shak {
    0%{transform:translateX(0.2vw) translateY(0.2vw)}
    30%{transform:translateX(0vw)translateY(0vw)}
    70%{transform:translateX(-0.2vw)translateY(-0.2vw)}
    100%{transform:translateX(0vw)translateY(0vw)}
  }
